@import "./shared";

.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

// Bulma
.hero {
  background: url("https://source.unsplash.com/1600x900/?todo") no-repeat center center fixed;
  background-size: cover;
}

.hero-body {
  background: rgba(255, 255, 255, 0.8);
}
